// Primary
$black: #0A0A18;
$white: #fff;
$accent: #FFF6B5;
$accent_dark: #F4E789;

// Secondary
$main: #586bf7;
$warning: #FF8466;
$success: #2A9F39;

// Gray
$gray_900: #111827;
$gray_800: #1f2937;
$gray_700: #374151;
$gray_600: #4b5563;
$gray_500: #6b7280;
$gray_400: #9ca3af;
$gray_300: #d1d5db;
$gray_200: #e5e7eb;
$gray_100: #f3f4f6;
$gray_50:  #f9fafb;