@import 'breakpoints';
@import 'fonts';
@import 'colors';

.header {
  font-size: 1.2rem;
  color: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  @include md {
    margin: 30px 0;
  }
  @include lg {
    margin: 40px 0;
  }
  @include xl {
    margin: 50px 0;
  }
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;

  @include lg{
    padding: 0 40px;
  }
}

.linkContainer {
  display: inline-flex;
  align-items: center;
  gap: 18px;

  &:hover .logoTitle{
    text-decoration-color: $gray_300;
  }
}

.logoContainer{
  display: inline-flex;
  width: 62px;
}


.borderLogo{
  width: 62px;
  border-radius: 17px;
}

.logoTitle {
  letter-spacing: 1px;
  font-weight: $normal;
  line-height: 100%;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-underline-offset: 8px;
  transition: all 200ms ease;
}

.navigation {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 2.6rem;
  font-weight: $normal;
  letter-spacing: 1px;
  color: $gray_700;

  & > span{
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: all 200ms ease;
    line-height: 45px;
    text-underline-offset: 8px;
    cursor: pointer;
  }

  & > span:hover{
    text-decoration-color: $gray_300;
  }
}

.nLinks{
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 200ms ease;
  line-height: 45px;
  text-underline-offset: 8px;
  cursor: pointer;

  &:hover{
    text-decoration-color: $gray_300;
  }
}

.dropDownContainer {
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.btn {
  // background-color: $accent;
  padding: 20px 35px;
  border-radius: 12px;
  display: inline-flex;
  align-items: center;
  cursor: default;
  z-index: 99;
  box-shadow: 1px 0 0 0 $gray_300, 0 1px 0 0 $gray_300, 0 -1px 0 0 $gray_300, -1px 0 0 0 $gray_300;

  &:hover {
    border-bottom-color: unset;
  }
}

.dropDownMenu {
  height: auto;
  opacity: 0;
  transform-origin: top;
  position: absolute;
  list-style-type: none;
  padding: 4px 0 0 0;
  margin: 0;
  left: 0;
  bottom: -68;
  width: 100%;
  transition: all 0.3s ease;
  overflow: hidden;
}

.show {
  opacity: 1;
}

.dropDownButtonActive {
  background-color: #eaecf2;
  box-shadow: 1px 0 0 0 #eaecf2, 0 1px 0 0 #eaecf2, 0 -1px 0 0 #eaecf2, -1px 0 0 0 #eaecf2;
  transition-delay: 0.05s;
}


.dropdownItem {
  cursor: pointer;
  font-weight: $normal;
  padding: 10px 20px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 4px;
  width: 100%;
  letter-spacing: 0.2px;
  border-radius: 12px;

  & span {
    display: block;
    margin-top: 5px;
    margin-right: 6px;
  }
}

.bgDefault {
  background: #eff1f7;

  &:hover {
    background: #dee6ff;
  }
}

.bgGreen {
  background: #d9ead4;
  &:hover {
    background: #d9ead4;
  }
}

.dropdownItemText {
  line-height: 22px;
  color: #586bf7;
  text-underline-offset: 3px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 200ms ease;
}

.dropdownItemTextCopied {
  line-height: 22px;
  color: $black;
  cursor: default;
}


.cursorDefault {
  cursor: default;
}



// menuToggle

.button {
  z-index: 99;
  cursor: pointer;
  margin-right: 7px;
}

// Mobile Menu

.mobileMenuContainer {
  z-index: 98;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $accent;
  width: 100%;
  height: 100%;
  transform: translateX(-999px);
  transition: all 250ms ease-in;
}

.showMenuContainer {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms ease-in-out;
}

.mobileNavLinks {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

}

.mobNavLink{
  line-height: 100px;
  font-size: 24px;
  text-decoration: underline;
  cursor: pointer;
}
