@import 'breakpoints';
@import 'fonts';
@import 'colors';


.headerContainer{
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:  0 20px;
}

.title {
  font-weight: $normal;
  font-family: $serif;
  margin-top: 200px;
  text-align: center;
  color: $black;

  @include xs {
    font-size: 1.8rem;
    margin-top: 140px;
  }
  @include md {
    font-size: 2.375rem;
    margin-top: 140px;
  }
  @include lg {
    font-size: 2.625rem;
    margin-top: 200px;
  }
  @include xl {
    font-size: 3rem;
  }
  @include xxl {
    font-size: 3.25rem;
  }
}

.description {
  text-align: center;
  font-family: $sans-serif;
  color: $black;
  opacity: 0.5;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 1.1rem;
  letter-spacing: 0.25px;
  
  @include md{
    font-size: 1.3125rem;
    letter-spacing: normal;
  }
}

.scrollBtn {
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  
  @include md{
    font-size: 1.3125rem;
  }

  &:hover svg > g > rect{
    transition: 0.3s ease-in-out;
    stroke: $warning;
  }

  &:hover svg > g > circle{
    fill: $warning;
  }

  &:hover > a {
    transition: 0.3s ease-in-out;
    color: $warning;
  }
}